<div
  class="share-task-modal-container"
  data-enable-task-share-url=""
  data-disable-task-share-url=""
>
  <share-task-modal-container
    :visibility="visibility"
    :urls="urls"
    @close="closeModal"
  />
</div>

<%= javascript_include_tag 'vue_share_task_modal' %>
